<div class="text-left">
	<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et elit efficitur, porttitor nisl non, lacinia nunc. Etiam eu tortor nec augue consequat faucibus eu sed risus. Pellentesque posuere lacus vel pulvinar pharetra. Etiam interdum non nunc eget rutrum. Nam consequat urna non neque scelerisque tempor. Vivamus rhoncus cursus ultrices. Phasellus at risus iaculis, aliquet quam in, elementum elit. 
	</p>
	<p>
	Aliquam erat volutpat. Mauris a ante dictum, mattis felis sit amet, semper sapien. Morbi quis pellentesque neque. Duis ullamcorper commodo dignissim. Suspendisse tincidunt elementum massa, nec sagittis tortor commodo et. Fusce est ex, sodales vel libero a, congue feugiat nisl. Vestibulum enim tortor, varius vel felis eget, posuere bibendum felis. Curabitur euismod sit amet nisl nec venenatis.
	</p> 
</div>